{% extends 'base.html.twig' %}

{% block title %}Current Weather{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Current weather</h1>
        {{ form(form) }}
        {% if weather %}
            {% if weather.code != 200 %}
                <strong>Location not found</strong>
            {% else %}
                <h2>{{ weather.location.name }} ({{ weather.location.country }})</h2>
                <ul>
                    <li>Temperature: {{ weather.current.temp_c }}C (feels like: {{ weather.current.feelslike_c }}C)</li>
                    <li>Condition: {{ weather.current.condition.text }}<img src="{{ weather.current.condition.icon }}"/></li>
                    <li>Wind: {{ weather.current.wind_kph }}km/h, direction: {{ weather.current.wind_dir }}</li>
                    <li>Pressure: {{ weather.current.pressure_mb }}mb</li>
                    <li>Humidity: {{ weather.current.humidity }}%</li>
                    <li>Visibility: {{ weather.current.vis_km }}km</li>
                    <li>UV: {{ weather.current.uv }}</li>
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
